{% include header.html %}


<img class="img-responsive-rounded center-block" src="/static/img/homeBack/homeBack01.png" alt="bellab Lab CyTOF Snapshot">


<!--\\\ width=100% style="padding:40px" -->


<div class="row-fluid">
    <div class="col-sm-8">
    	
        <div class = "row-2">

            <div class ="col-1">
                <!--
                <br>
                <img src="/static/img/homeBack/homeSub01.png" style="max-width: 25%; height: auto;" alt="Laser">
                test content
                <br>
                -->
            </div>

            <div class ="col-1">
                <!--
                <br>
                <img src="/static/img/homeBack/homeSub01.png" style="max-width: 25%; height: auto;" alt="Laser">
                test content2
                <br>
                -->
            </div>

            <div class ="col-1">
                <!--
                <br>
                <img src="/static/img/homeBack/homeSub01.png" style="max-width: 25%; height: auto;" alt="Laser">
                test content3
                <br>
                -->
            </div>

        </div>
    </div>
    <div class="col-sm-4">
    	<br>
    	<img class="img-responsive-rounded center-block" src="/static/img/homeBack/homeNews01.jpeg" alt="...">
    	<br>
        {% include sidebar.html %}
    </div>
</div>

{% include footer.html %}
