{% include header.html %}

<br>
<br>

<img class="img-responsive-rounded center-block" src="/static/img/homeBack/homeBack01.png" alt="bellab Lab CyTOF Snapshot">

<br>

<div class="row-fluid">
    <p><h2>Welcome to Measurement Engineering Laboratory! </h2>
                <h3> ...</h3>
                <br>
                </p>
    <!--
    <div class="col-sm-8">

            <p><h2>Welcome to Measurement Engineering Laboratory! </h2>
                <h3> ...</h3>
                <br>
                </p>

    </div>
-->

    <!--
    <div class="col-sm-4">
        
    	<br>
    	<img class="img-responsive-rounded center-block" src="/static/img/homeBack/homeNews01.jpeg" alt="...">
    	<br> 
        {% include sidebar.html %}
    </div> 
-->
</div>

{% include footer.html %}
